html {
    box-sizing: border-box;
}
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
}
body {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    padding: 0;
}
main {
    background-color: #f6f6f6;
    height: 100%;
    width: 100%;
}
nav {
    width: 100%;
}
nav > ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style-type: none;
    padding: 0;
    width: 100%;
}

/* Major Sections */
#sidebar {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #121212;
    color: rgb(5, 255, 117);
    height: 100%;
}
#sidebar img {
    border-radius: 100%;
    box-shadow: 0px 0px 10px 5px #1db954;
}
#sidebar figure {
    text-align: center;
}
#contentArea {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}
/* End Major Sections */

/* Minor sections */
#filterSection {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
}
#monthlyWeeklyListenersSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
#profileVisitsAndMostPopularSection {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
}
#mostPopularSongsSection > ol{
    width: 100%;
}
#mostPopularSongsSection > ol li {
    display: flex;
    justify-content: space-between;
}
/*  */


/* Artist Name */
#artistName {
    color: #00FF7F;
    font-weight: bold;
    margin-top: 15px;
}

/* Title of Path */
#pathTitle {
    align-self: flex-start;
    /* After 768px, align center */
    padding-left: 40px;
    color: #12b362;
    font-weight: bolder;
    text-transform: uppercase;
}

/* Hamburger Menu */
.menu-button {
    display: none;
}

/* Link section */
.selected {
    border-left: 7px solid rgb(26, 255, 128);
    background-color:rgb(26, 255, 128, 0.1);
    font-weight: bold;
}
.urlLink {
    cursor: pointer;
    width: 100%;
    text-align: center;
    margin-top: 15px;
    padding: 10px 0px 10px 0px;
    text-align:left;
}
.urlLink i {
    padding: 0 10px 0 10px;
}
.urlLink:hover {
    background-color: rgb(26, 255, 128, 0.3)
}
/* Filter button */
#filterButton {
    border: none;
    padding: 10px 20px 10px 20px;
    background-color:rgb(5, 255, 117);
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: color 0.4s ease-in-out;
}
#filterButton:hover {
    color: white;
}

/*  */
/* Monthly listeners number */
#monthlyListeners {
    font-size: 50px;
}

/* 
Misc. Classes
*/
.boldAndUnderlined {
    font-weight: bold;
    border-bottom: 1px solid black;
}
/*  */

/* Media queries */
@media only screen and (max-width: 768px) {
    #sidebar {
        display: none;
    }
    .menu-button {
        position: fixed;
        z-index: 4;
        left: 10px;
        top: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 31px;
        height: 31px;
        border-radius: 100%;
        padding: 10px;
        background-color: black;
        cursor: pointer;
        transition: all 0.5s ease-in-out;
      }
      .menu-button__burger {
        width: 24px;
        height: 2px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-button__burger::before,
      .menu-button__burger::after {
        content: "";
        position: absolute;
        width: 24px;
        height: 2px;
        background: white;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
        transition: all 0.5s ease-in-out;
      }
      .menu-button__burger::before {
        transform: translateY(-13px);
      }
      .menu-button__burger::after {
        transform: translateY(13px);
      }
      .menu-button.open .menu-button__burger {
        transform: translateX(-50px);
        background: transparent;
        box-shadow: none;
      }
      .menu-button.open .menu-button__burger::before {
        transform: rotate(45deg) translate(35px, -35px);
      }
      .menu-button.open .menu-button__burger::after {
        transform: rotate(-45deg) translate(35px, 35px);
      }
      #pathTitle {
          width: 100%;
          padding-left: 0;
          text-align: center;
      }
      #monthlyWeeklyListenersSection {
          flex-direction: column;
          align-items: center;
      }
      #monthlyListenersSection {
          display: flex;
          flex-direction: column;
          align-items: center;
      }
      #profileVisitsAndMostPopularSection {
        flex-direction: column;
        align-items: center;
      }
      #mostPopularSongsSection {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
      #mostPopularSongsSection > ol {
        padding: 0;
      }
}